@model LeadsStates.Models.LeadsViewModel
@{
    ViewBag.Title = "lead_detail";
}

<div class="bg-white">
    <div class="page-breadcrumb p-lg-4 pt-2">
        <div class="row border-bottom pb-2">
            <div class="col-7 align-self-center">
                <h3 class="page-title pt-2">Lead Detail</h3>
            </div>
            <div class="col-5 align-self-center">
                <div class="clock"></div>
            </div>
        </div>
    </div>
    <div class="dark-bg-white p-md-4 p-3 mt-3 border shadow-lg m-lg-4">
        <div class="text-right mb-3">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Other
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0)">Action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                    <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                </div>
            </div>
            <button class="btn btn-secondary">Ledger</button>
            <button class="btn btn-secondary">Receipt</button>
        </div>
        <div class="row m-0 text-capitalize">
            <div class="col-md-3 p-2 bg-light border font-weight-bold">
                ID
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light" id="LeadId">@Model.LeadsDetails.Id</div>
            <div class="col-md-3 p-2 bg-light border font-weight-bold">
                Customer Name
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">@Model.LeadsDetails.Name</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Primary Phone
            </div>
            <div class="col-md-3 col-6 border p-2">@Model.LeadsDetails.PrimaryNumber</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Secondary Phone
            </div>
            <div class="col-md-3 col-6 border p-2">@Model.LeadsDetails.SecoundryNumber</div>
            <div class="col-md-3 p-2 bg-light border font-weight-bold">
                Allocated to
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">@Model.LeadsDetails.AllocatedUser</div>
            <div class="col-md-3 p-2 bg-light border font-weight-bold">
                Email Address
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">@Model.LeadsDetails.Email</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                City
            </div>
            <div class="col-md-3 col-6 border p-2">@Model.LeadsDetails.City</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Project
            </div>
            <div class="col-md-3 col-6 border p-2">@Model.LeadsDetails.Project</div>
            <div class="col-md-3 p-2 bg-light border font-weight-bold">
                Status
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light"><span class="text-success font-weight-bold">@Model.LeadsDetails.Status</span></div>
            <div class="col-md-3 p-2 border font-weight-bold bg-light">
                Customer location
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">@Model.LeadsDetails.Address</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Property type
            </div>
            <div class="col-md-3 col-6 border p-2">@Model.LeadsDetails.PropertyType</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                category
            </div>
            <div class="col-md-3 col-6 border p-2">@Model.LeadsDetails.HomeType</div>
            <div class="col-md-3 p-2 border font-weight-bold bg-light">
                Min budget
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">@Model.LeadsDetails.MinBudget</div>
            <div class="col-md-3 p-2 border font-weight-bold bg-light">
                Max budget
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">@Model.LeadsDetails.MaxBudget</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Area
            </div>
            <div class="col-md-3 col-6 border p-2">@Model.LeadsDetails.AreaType</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Area
            </div>
            <div class="col-md-3 col-6 border p-2">@Model.LeadsDetails.MinArea  T0 @Model.LeadsDetails.MaxArea</div>            
            <div class="col-md-3 p-2 border font-weight-bold bg-light">
                Beds
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">@Model.LeadsDetails.Beds</div>
            <div class="col-md-3 p-2 border font-weight-bold bg-light">
                Block
            </div>
            <div class="col-md-3 col-6 border p-2 bg-light">@Model.LeadsDetails.Block</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Source
            </div>
            <div class="col-md-3 col-6 border p-2">@Model.LeadsDetails.Source</div>
            <div class="col-md-3 p-2 border font-weight-bold">
                Client Type
            </div>
            <div class="col-md-3 col-6 border p-2">@Model.LeadsDetails.ClientType</div>
            
            
            <div class="col-md-3 col-6 border p-2 bg-light text-center">
                <button data-toggle="modal" data-target="#exampleModal1" class="btn btn-secondary">Share Lead</button>
            </div>
        </div>
        <div class="text-right mt-3">
           @* <button class="btn btn-primary">Photo Gallery</button>*@
            <button class="btn btn-danger" onclick="UpdateLeadsStatusLost()">Close (Lost)</button>
            <button class="btn btn-success" onclick="UpdateLeadsStatusWin()">Close (Won)</button>
        </div>
        <div class="table-responsive mt-2">
            <div class="d-flex w-100 bg-dark py-2 px-3">
                <div class="bg-dark text-white font-weight-600 pt-2">Activity History</div>
                <button class="btn-warning btn ml-auto ">Follow Up</button>
            </div>
            <table class="table table-bordered table-hover contact-list-h">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>User</th>
                        <th>Current Follow Up</th>
                        <th>Current Status</th>
                        <th>Next Follow Up</th>
                        <th>Next Status</th>
                        <th>Coments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Share Lead(s)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="">Users List</label>
                @Html.DropDownListFor(model => model.SelectedUser, new SelectList(Model.Users,"Id", "FirstName"), new { @class = "form-control" , @Id = "UserId" } )
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="shareLead()">Share</button>
            </div>
        </div>
    </div>
</div>

<script>
    function UpdateLeadsStatusWin() {
        $.ajax({
                type: "POST", url: '@Url.Action("UpdateLead", "Leads")',
                success: function (data) {
                    $("#customer").modal('show');
                },
                data:
                {
                    leadId: $('#LeadId').html(),
                    Status:'Win'

                },
                accept: 'application/json'
        });
    }
    function UpdateLeadsStatusLost() {
        $.ajax({
                type: "POST", url: '@Url.Action("UpdateLeadStatus", "Leads")',
            success: function (data) {
                window.location='/leads'
                },
                data:
                {
                    leadId: $('#LeadId').html(),
                    Status:'Lost'

                },
                accept: 'application/json'
        });
    }
    function shareLead() {
        //var UserId = $('#UserId').val()
        $.ajax({
                type: "POST", url: '@Url.Action("SahreLead", "Leads")',
            success: function (data) {
                window.location='/leads'
                },
                data:
                {
                    leadId: $('#LeadId').html(),
                    UserId: $('#UserId').val()

                },
                accept: 'application/json'
        });

    }

</script>